.four-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backHome {
    color: inherit;
    text-decoration: underline; 
}
.backHome:hover {
    color: blue;
}