.archive-layout-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 75vh;
}

.archive-column {

}

.archive-column-item:hover  {
    background: #ccc;
}
li:empty {/* Hide empty bullets (specifically for post archives) */
    display: none;
}