.archive-page-container { 
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 4rem;
    font-size: 1.2rem;
}

.column-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.archive-column {
    display: flex;
    flex-direction: column;
  
}
.archive-column > h2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    line-height: 1.4;
    margin: 0;
}
.archive-list li {
    margin: 0.5rem;
}
.archive-list a {
   
    padding: 0.5rem;
}
li:empty { /* Get read of empty bullets */
    display: none;
}

@media (max-width: 992px) {
    .archive-page-container { 
        flex-direction: column;
    }
}