.blog-container-with-sidebar {
    display: flex;
    min-height: 100vh;
    margin: 0;
    margin-top: 4rem;
}
.blog-container-2 {
    width: 80%;
}
.blog-container-sidebar {
    width: 20%;
}
