.site-footer {
    width: 100%;
    height: auto; /* Adjusted to auto to fit content */
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 4rem;
    padding: 1rem 0; 
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto; /* Center the menu */
}

.footer-menu li {
    list-style: none;
    padding: 0.5rem;
    width: 100%;
    flex-basis: 100%; /* Default to full width on small screens */
}

/* For medium screens and up */
@media (min-width: 768px) {
    .footer-menu li {
        flex-basis: 50%; /* 2 columns for medium screens */
    }
}

/* For large screens and up */
@media (min-width: 992px) {
    .footer-menu li {
        flex-basis: calc(100% / 3); /* 3 columns for large screens */
    }
}

.footer-menu li:hover {
    text-decoration: underline;
    background-color: #ccc;
}

.footer-menu li a {
    display: flex;
    justify-content: center;
}
