ul, ol { /* Remove default list styling */
    list-style: none;
}

a {   /* Remove default link styling */
    color: inherit;
    text-decoration: none;
}

.header{ /* title , navbar */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.navbar { /* navbar  */
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: inset 0 0 12px rgba(0,0,0,5%);
    color: #333;
    font-family: "Coustard", Georgia, serif;
}

.navbar ul li:hover > .sub-menu { /* Dropdown menu on hover of a li */
    display: flex;

} 

.navlinks {  /* class added to navbar ul elements in functions.php */
    display: flex;
    justify-content: space-around;
}

.sub-menu { /* Layout of dropdown menu for navbar */
    display: none;
    position: absolute;
    flex-direction: column; 
    padding: 0;
    border: 1px solid #ccc;
    z-index: 2;
    background: white;
    width: max-content;
    font-size: 0.8rem;
}

.sub-menu:hover { /* Layout of dropdown menu for navbar */
    display: flex;
    transition-delay:1.5s;
    
}
.sub-menu li{ /* Layout of dropdown menu for navbar */
    margin: 0 0.25rem;
    padding: 10px;
    z-index: 2;
    background: white;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dotted #ccc;
    width: max-content;
  
}

.sub-menu li:hover { /* Layout of dropdown menu for navbar */
    cursor: pointer;
}
  
.sub-menu li a{ /* Layout of dropdown menu for navbar */
    color: inherit;
}

