
h1 {
    font-size: 4.4rem;
}
.site-header { /* header area with which includes title/ and navbar */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 1366px;
    padding: 0;
    margin: 0;
}
.site-title { /* title spacing */
    font-family: UnifrakturMaguntia, Georgia, serif;
    border-bottom: 1px dotted #ccc;
    margin: 1rem;
}
.site-title a {  /* title color/font*/
    color: rgb(68, 68, 68); 
    text-decoration: none;
    
}
.site-description { /* The description below title */
    color: rgb(68, 68, 68);
    font-size: 0.8rem;
}
.site-navigation { 
    display: flex;
    align-items: center; 
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 5%); 
    font-family: Coustard, Georgia, serif;
    width: 100%;
    color: #333;
}
.site-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.site-nav-list li {
    text-decoration: none; 
    list-style: none;
    color: inherit;
    padding: 1rem;
    margin: 0;
}
.site-nav-list li a{
    padding: 1rem;
    text-decoration: none; 
    list-style: none;
    color: inherit;
}
.site-nav-list li:hover {
    background-color: #f0f0f0;
} 
.site-navigation ul li:hover > .sub-menu { /* Dropdown menu on hover of a li */
    display: flex;
    border-bottom: 1px solid #f0f0f0; 
} 
.site-navigationul li a:hover { /* Dropdown menu on hover of a li */
    border-bottom: 1px solid #f0f0f0; 
    box-shadow: inset 0 0 12px rgba(0,0,0,5%); 
 
} 
.sub-menu { /* Layout of dropdown menu for navbar */
    display: none;
    position: absolute;
    flex-direction: column; 
    padding: 0;
    margin: 0;
    z-index: 2;
    font-size: 0.8rem;
}
.sub-menu:hover { /* Layout of dropdown menu for navbar */
    display: flex;
    transition-delay:1.5s;
}
.sub-menu li{ /* Layout of dropdown menu for navbar */
    width: 100%;
    padding: 0.5rem;

    border: 1px solid #ccc;
    background: white;
}
.sub-menu li:hover { /* Layout of dropdown menu for navbar */
    cursor: pointer;
}
.sub-menu li a{ /* Layout of dropdown menu for navbar */
    color: inherit;
}
@media (max-width: 600px) {
    html {
        font-size: 14px; /* 1rem = 14px on small screens */
    }
}