ul, ol { /* Remove default list styling */
    list-style: none;
}

a { /* Remove default link styling */
    color: inherit;
    text-decoration: none;
}

.header { /* header area with which includes title/ and navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1366px;
    padding: 2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1366px; /* Set a maximum width */
    line-height: 1.4;
    letter-spacing: 2px;
}

.header-title-container {
    color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    font-family: UnifrakturMaguntia, Georgia, serif;
    font-size: 4rem;
}

.header-title {
    border-bottom: 1px dotted rgb(204,204,204);
    margin: 0;
    padding: 0;
}

.header-slogan {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(68, 68, 68);
    font-family: Coustard, Georgia, serif;
    font-size: 12.8px;
}
.navbar {
    display: flex; /* Use flexbox for the navbar */
    justify-content: space-between; /* Space between the menu and search bar */
    align-items: center; /* Center alignment vertically */
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: inset 0 0 12px rgba(0,0,0,5%);
    line-height: 2rem;
    color: #333;
    font-family: Coustard, Georgia, serif;
    min-width: 100%;
    
}

.navbar ul li:hover > .sub-menu { /* Dropdown menu on hover of a li */
    display: flex;
    border-bottom: 1px solid #f0f0f0;
} 

.navbar ul li a:hover { /* Dropdown menu on hover of a li */
/*     border-bottom: 1px solid #f0f0f0; 
    box-shadow: inset 0 0 12px rgba(0,0,0,5%); */
 
} 

.navlinks {
    display: flex; /* Display flex to align the menu items */
    flex: 1; /* Flex 1 to take up available space */
    justify-content: space-around; /* Distribute space around the items */
}

.navlinks > li {
    flex-grow: 1; /* Distribute available space equally between menu items */
    text-align: center; /* Center the text within each menu item */
}

.search-container {
    display: flex; /* Flexbox for search container */
    align-items: center;
}

.search-container form {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.search-container input[type="search"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-family: Coustard, Georgia, serif;
    font-size: 1rem;
}

.search-container input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Coustard, Georgia, serif;
    font-size: 1rem;
}

.sub-menu { /* Layout of dropdown menu for navbar */
    display: none;
    position: absolute;
    flex-direction: column; 
    padding: 0;
    border: 1px solid #ccc;
    z-index: 2;
    background: white;
    width: max-content;
    font-size: 0.8rem;

}

.sub-menu:hover { /* Layout of dropdown menu for navbar */
    display: flex;
    transition-delay:1.5s;
}
.sub-menu li{ /* Layout of dropdown menu for navbar */
    margin: 0 0.25rem;
    padding: 10px;
    z-index: 2;
    background: white;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dotted #ccc;
    width: max-content;
}

.sub-menu li:hover { /* Layout of dropdown menu for navbar */
    cursor: pointer;
}
  
.sub-menu li a{ /* Layout of dropdown menu for navbar */
    color: inherit;
}
