body {
    font-family: "Coustard", Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}


.date-category a:hover {
    background: #ccc;
}
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    letter-spacing: 2px;
}

.post-header,
.archive-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title,
.archive-title {
    font-size: 2rem;
    width: fit-content; /* This will make the title only as wide as its content */
}

.date-category {
    font-size: 0.8rem;
    width: fit-content; /* This will make the date-category only as wide as its content */
}

.continueButton:hover {
    background: #ccc;
}

.post-description {
    font-size: 1.05rem;
    line-height: 1.2;
    max-width: 900px;
    min-width: 100px;
    min-height: 4vh;
    max-height: 50vh;
}

.continueButton {
    text-align: center;
    padding: 1rem 2.5rem 0.5rem 2.5rem;
    color: #444;
    font-weight: 400;
    border-bottom: 1px dotted #ccc;
    letter-spacing: 2px;
}
