
body { /* Centers page-container */
    font-family: "Coustard", Georgia, serif;
    min-height: 100vh; /* Ensure the body takes at least the viewport height */
    margin: 0; /* Reset default margin to ensure full width */
}

.page-container{
    display: flex;
    justify-content: center;
  
}

.blog-container {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 30vh;
    width: 100%;
    padding: 1.25em 0 2.5em 0;
    color: black;

    letter-spacing: 2px;
}

.title {
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    width: max-content;
}

.title:hover {
    background: #ccc;
}
.post-date-category {
    font-size: 0.8rem;
}
.post-description {
    border: 2px solid red;
    font-size: 1.05rem;
    line-height: 1.2;
    max-width: 900px;
    min-width: 100px; //
    min-height: 4vh;
    max-height: 50vh;
}

.continueButton{
    text-align: center; 
    padding: 1rem 2.5rem 0.5rem 2.5rem;
    color: #444;
    font-weight: 400;
    border-bottom: 1px dotted #ccc;
    letter-spacing: 2px;
}

.continueButton:hover {
    background: #ccc;
}