a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: "Coustard", Georgia, serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date-category a:hover {
    background: #f0f0f0;
   
}
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    letter-spacing: 2px;
}
.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
   
    width: fit-content; /* This will make the title only as wide as its content */
    margin-bottom: 0;
}

.date-category {
    font-size: 0.8rem;
    margin: 0;
    width: fit-content; /* This will make the date-category only as wide as its content */
}

.continueButton:hover {
    background: #f0f0f0;
}
.post-description {
    font-size: 1.05rem;
    line-height: 1.2;
    max-width: 900px;
    min-width: 100px;
    min-height: 4vh;
    max-height: 50vh;
}
.continueButton {
    text-align: center;
    padding: 1rem 2.5rem 0.5rem 2.5rem;
    color: #444;
    font-weight: 400;
    border-bottom: 1px dotted #ccc;
    letter-spacing: 2px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    /* Adjust styles for tablet view here */
}

/* Desktop styles */
@media (min-width: 1025px) {
    /* Adjust styles for desktop view here */
}