.portfolio-container {
    max-width: 100%;
    margin: 0;
    margin-top: 4rem;
}
.portfolio-title {
    display: flex;
    justify-content: center;

}
.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.category-term {
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.category-label {
    display: none;
}
.category-term:hover {
    background-color: #f0f0f0;
}
.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    background-color: #fff;
    padding: 0 1rem;
    grid-gap: 1rem; 
 
}
.thumbnail-container {
    position: relative;
    padding-bottom: 75%; 
    background-color: #f0f0f0;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.thumbnail-container:hover .thumbnail-img {
    transform: scale(1.1);
}
.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-container:hover .project-title,
.thumbnail-container:hover .project-info{
    opacity: 1;  
}
.thumbnail-container:hover  .thumbnail-img {
    opacity: 0.2;
}
.thumbnail-container {
    transition: background-color 0.3s, color 0.3s;
}
.project-info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0;
}
.project-title {
    font-weight: 600;
    font-size: 1rem;
}
.project-description {
    font-size: 0.8rem;
    padding: 0.25rem;
}
.noPost {
    display: flex;
    justify-content: center;
}
@media (min-width: 769px) and (max-width: 992px) {
    .project-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
