.portfolio-container {
    min-height: 100vh;
    max-width: 100%;
}
.portfolio-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping if many categories */
}
.category-term {
    padding: 1rem;
    list-style: none;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.category-term:hover {
    background-color: #f0f0f0; /* Add a subtle hover effect */
}
.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    background-color: #fff;
    padding: 0 1rem;
    grid-gap: 1rem; 
}
.thumbnail-container {
    position: relative;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    background-color: #f0f0f0; /* Background color while image is loading */
}
.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Small Devices (Phones, Landscape mode) */
@media (max-width: 768px) {
    .project-grid-container {
  /*       grid-template-columns: 1fr; */
    }
}

/* Medium Devices (Tablets) */
@media (min-width: 769px) and (max-width: 992px) {
    .project-grid-container {
        grid-template-columns: 1fr 1fr;

    }
     
}

/* Large Devices (Desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
    /* styles for large devices */
    .project-grid-container {
   /*      grid-template-columns: fit-content(1fr); */
    }

}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1201px) {
    .project-grid-container {
        
    }
}