.search-form {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 3rem;
    z-index: 1;
}
.search-field {
    border: 0;
    font-size: 1rem;
    font-family: Coustard, Georgia, serif;
}
.search-field:hover {
    opacity: 0.3;
}
.search-field::placeholder {
    color: #333;
    opacity: 0.9;
}
