.search-container {
    position: relative;
    display: inline-block;
}

.search-text,
.search-form {
    position: absolute;
    top: 0;
    left: 0;
}

.search-text {
    z-index: 2;
    cursor: pointer;
}

.search-form {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.search-field {
    width: 150px;
    padding: 5px;
}

.search-container:hover .search-form {
    opacity: 1;
    pointer-events: auto;
}

.search-container:hover .search-text {
    display: block;
}