
body { /* Centers page-container */
    display: flex;
    align-items: center;
    justify-content: center;

}

.page-container { /* All of content Container  */
    max-width: 1366px;
}


.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continueButton{
/*     display: flex; */
    max-width: 18.75em;
    text-align: center;
    margin: 2.5em auto 0 auto;
    padding: 0.5em 0 0.4em 0;
    color: #444;
    font-weight: 400;
    font-size: .85em;
    background: none;
    border-bottom: 1px dotted #ccc;
    letter-spacing: 2px;
}